/* required styles */

.ui-slider-range { background:linear-gradient(to right, rgb(255,0,0), rgb(0,0,255) ) }

table { width: 100%; border-collapse: collapse;}
table, td, th { border: 1px solid gray; padding: 2px;}
th {text-align: left;}

.cfm-table {
          max-height: 60vh;
          border: 1px solid grey;
          overflow: auto;
        }

.cfm-top-btn {
          background: #D5D5D5; 
          border: 2px solid #D5D5D5;
          color: blue;
          width: 10vw;
          display: inline-block;
        }

.cfm-btn {
          background: #D5D5D5; 
          border: 1px solid #D5D5D5;
          color: blue;
          display: inline-block;
        }


.cfm-btn:disabled {
         color: #D5D5D5;
        }

.cfm-div {
        position:relative;
        left: 10px;
        border: 4px solid white;
        }


select {
    width: 90%;
    border: 1px solid grey;
    border-radius: 4px;
}

input[type=text] {
    width: 160px;
    padding: 0px 5px 0px 5px;
}
